<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.quesong.quesookt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".QuesooktApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="퀘숙트"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quesookt"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.view.quest.QuestDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.onboard.OnboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>